/* Google Font Poppin  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.search-area{
    padding: 30px 80px;
    background-color: rgb(187 184 184 / 12%);
    border-radius: 20px;
    box-shadow: 2px 2px 21px #adabab;
}
.display-detail, .display-search{
    background-color: rgb(187 184 184 / 12%);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 21px #adabab;
    margin-top: 30px;
}
.card{
    background-color: rgba(223, 221, 221, 0.12);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 21px #868484;

}
